llama-index==0.10.25
llama-index-readers-web==0.1.8
llama-index-embeddings-huggingface==0.2.0
llama-index-vector-stores-chroma==0.1.6
llama-index-llms-huggingface==0.1.4
chromadb==0.4.24
MainContentExtractor==0.0.4
reportlab==4.1.0
bitsandbytes==0.43.0
accelerate==0.28.0
sentence-transformers==2.6.1
tiktoken==0.6.0
python-dotenv==1.0.1
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
pyngrok==7.1.6
Flask==3.0.2
